body{
	color: white;
	font-size: 20px;
}
#bg {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	overflow: hidden;
}

.bg {
	width: 100%;
	height: 100%;
	position: absolute;
}

#bg_01 {
	background: url('../image/02.jpg');
	width: 100%;
	height: 100%;
	background-repeat-x: inherit;
}

#bg_02 {
	background: url('../image/03.jpg');
	width: 100%;
	height: 100%;
	background-repeat-x: inherit;
}

#bg_03 {
	background: url('../image/06.jpg');
	width: 100%;
	height: 100%;
	background-repeat-x: inherit;
}
.RegisterSuccess{
	position: absolute;
	margin-left: 45%;
	font-size: 20px;
	color: white;
	top: 30%;
	list-style: none;
}
.RegisterSuccess li{
	margin-top: 10px;
}
._a{
	position: absolute;
	margin-left: 45%;
	top: 40%;
	
}
