body{
	background: #D6E8F2;
}
.navbar-header img {
	width: 50px;
	height: 50px;
	margin-left: 10px;
}
._nav{
	background: #B9D7EF;
	width: 80%;
	height: 60px;
	margin-left: 10%;
}
._nav_ul{
	list-style: none;
}
.logo{
	width: 100px;
	height: 40px;
	margin-top: 10px;
}
._nav_ul li{
	float: left;
}
._nav_ul_ul{
	right: 0px;
	
	list-style: none;
}
._nav_ul_ul li{
	position: relative;
	float: left;
	left: 100%;
	margin-left: 40px;
}
._nav_ul_ul li a{
	line-height: 60px;
	text-decoration: none;
	font-size: 15px;
}
._main{
	border: 1px solid darkturquoise;
	width: 80%;
	height: 500px;
	margin-left: 10%;
}
._main ul{
	list-style: none;
}
._main ul li{
	float: left;
	width: 33%;
	height: 100%;
	padding-left: 20px;
}
._main_table{
	position: relative;
	background: ;
	width: 200px;
	height: 200px;
	margin-left: 50px;
}
._main_zi{
	margin-left: -50px;
}
._main_tou{
	margin-left:50px;
}
