<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <display-name>MN</display-name>
  <servlet>
    <servlet-name>ReaderRegisterServlet</servlet-name>
    <servlet-class>servlet.ReaderRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthorRegisterServlet</servlet-name>
    <servlet-class>servlet.AuthorRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddNovelServlet</servlet-name>
    <servlet-class>servlet.AddNovelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MangerBookServlet</servlet-name>
    <servlet-class>servlet.MangerBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NovelEditServlet</servlet-name>
    <servlet-class>servlet.NovelEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNovelChapterServlet</servlet-name>
    <servlet-class>servlet.AddNovelChapterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadNovelServlet</servlet-name>
    <servlet-class>servlet.ReadNovelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadChapterServlet</servlet-name>
    <servlet-class>servlet.ReadChapterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryNovelServlet</servlet-name>
    <servlet-class>servlet.QueryNovelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReaderLoginSuccess</servlet-name>
    <servlet-class>servlet.ReaderLoginSuccess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NovelDetailServlet</servlet-name>
    <servlet-class>servlet.NovelDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyNovelServlet</servlet-name>
    <servlet-class>servlet.BuyNovelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopCarServlet</servlet-name>
    <servlet-class>servlet.ShopCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveNovelServlet</servlet-name>
    <servlet-class>servlet.RemoveNovelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Query</servlet-name>
    <servlet-class>servlet.Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderRegisterServlet</servlet-name>
    <url-pattern>/ReaderRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthorRegisterServlet</servlet-name>
    <url-pattern>/AuthorRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNovelServlet</servlet-name>
    <url-pattern>/AddNovelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MangerBookServlet</servlet-name>
    <url-pattern>/MangerBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NovelEditServlet</servlet-name>
    <url-pattern>/NovelEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNovelChapterServlet</servlet-name>
    <url-pattern>/AddNovelChapterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadNovelServlet</servlet-name>
    <url-pattern>/ReadNovelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadChapterServlet</servlet-name>
    <url-pattern>/ReadChapterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryNovelServlet</servlet-name>
    <url-pattern>/QueryNovelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReaderLoginSuccess</servlet-name>
    <url-pattern>/ReaderLoginSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NovelDetailServlet</servlet-name>
    <url-pattern>/NovelDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyNovelServlet</servlet-name>
    <url-pattern>/BuyNovelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCarServlet</servlet-name>
    <url-pattern>/ShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveNovelServlet</servlet-name>
    <url-pattern>/RemoveNovelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>MyFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>